alembic==0.9.6
asn1crypto==0.23.0
attrs==17.3.0
Automat==0.6.0
beautifulsoup4==4.6.0
bs4==0.0.1
cffi==1.11.2
click==6.7
constantly==15.1.0
cryptography==2.1.3
cssselect==1.0.1
decorator==4.1.2
elasticsearch==6.0.0
enum34==1.1.6
Flask==0.12.2
Flask-Cors==3.0.3
Flask-Migrate==2.1.1
Flask-Script==2.0.6
Flask-SQLAlchemy==2.3.2
html2text==2017.10.4
hyperlink==17.3.1
idna==2.6
incremental==17.5.0
ipaddress==1.0.18
itsdangerous==0.24
jieba==0.39
Jinja2==2.10
lxml==4.1.1
Mako==1.0.7
MarkupSafe==1.0
networkx==2.0
numpy==1.13.3
parsel==1.2.0
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycparser==2.18
PyDispatcher==2.0.5
pyOpenSSL==17.4.0
python-dateutil==2.6.1
python-editor==1.0.3
queuelib==1.4.2
scipy==1.0.0
Scrapy==1.4.0
service-identity==17.0.0
six==1.11.0
SQLAlchemy==1.1.15
summa==0.0.7
textrank4zh==0.3
tinycss==0.4
Twisted==17.9.0
urllib3==1.26.5
w3lib==1.18.0
Werkzeug==0.12.2
zope.interface==4.4.3
