@charset "euc-kr";

/* ========== [태그 초기화] ========== */
* {margin:0; padding:0;}
html, body {width:100%; height:100%;}
body {font-size:75%; font-family:Arial,verdana,arial,tahoma; color:#333333; background:#ffffff;}

img {border:0; vertical-align:middle;}
form, fieldset {display:block; border:0;}
ul,ol,li {list-style:none;}

hr {display:none;}

table {border-collapse:separate; border-spacing:0; width:100%;text-indent:0;}
* html table {border-collapse:collapse;}
*+html table {border-collapse:collapse;}

p, acronym, address, big, small, cite, code, dfn, em, kbd, pre, samp, sub, sup, tt, var {
	font-weight:normal; font-family:verdana,arial,tahoma; font-style:normal;
}

h1, h2, h3, h4, h5, h6 {font-size:12px;}

big {font-size:1.125em;} /* 14px */
small {font-size:0.95em;} /* 11px */

sub {font-size:1.05em;}
sup {font-size:1.05em;}

input, select {
	vertical-align:middle;
	font-family:Verdana;
	font-size:1em;
	color:#666666;
}
blockquote, q {quotes: none;}
ins {}
del {text-decoration: line-through;}

a:link {color:#000000; text-decoration:none;}
a:visited {color:#000000; text-decoration:none;}
a:hover, a:focus {color:#000000; text-decoration:none;}
a:active {color:#000000; text-decoration:none;}

/* clear */
.clear:after {content:"."; display:block; height:0; font-size:0; clear:both; visibility:hidden;}
.clear {min-height:1px;} * html .clear {height:1px;;}
caption,
.hide, legend {overflow:hidden;visibility:hidden;position:absolute;width:0;height:0;font-size:0;line-height:0;}
caption {position:static;}
.right {text-align:right;}
/* margin */
.mgt0 {margin-top:0;}
.mgt5 {margin-top:5px;}
.mgt7 {margin-top:7px;}
.mgt10 {margin-top:10px;}
.mgt15 {margin-top:15px;}
.mgt20 {margin-top:20px;}

.mgb0 {margin-bottom:0;}
.mgb5 {margin-bottom:5px;}
.mgb10 {margin-bottom:10px;}
.mgb15 {margin-bottom:15px;}
.mgb20 {margin-bottom:20px;}
.mgb30 {margin-bottom:30px;}

.mgr0 {margin-right:0;}
.mgr5 {margin-right:5px;}
.mgr10 {margin-right:10px;}
.mgr15 {margin-right:15px;}
.mgr20 {margin-right:20px;}

.hidden {visibility:hidden; width:0; height:0;}

