@charset "euc-kr";

/*  [Skin-navi]  */
/* 바로가기 링크 */
#skip-navi {position:relative; width:890px; margin:0 auto;}
#skip-navi p {margin:0; padding:0;}
#skip-navi a {display:block; padding:0 10px; height:0; overflow:hidden; color:#000; text-align:right;}
#skip-navi a:hover, #skip-navi a:focus, #skip-navi a:active {height:auto; padding:5px 10px;}

/* 상단메뉴링크 */
#returntotop {position:relative; bottom:0; width:890px; margin:0 auto;}
#returntotop p {margin:0; padding:0;}
#returntotop a {display:block; padding:0 10px; height:0; overflow:hidden; color:#000	; text-align:right;}
#returntotop a:hover, #returntotop a:focus, #returntotop a:active {height:auto; padding:5px 10px;}

/*  [Layout]  */
/* [Wrap] */
#wrap {}
/* [Head] */
#head {position:relative; width:100%; border-bottom:1px solid #cccccc; z-index:2;}
#header {width:890px; margin:0 auto;}

/* [Head] > logo */
.logo {padding:50px 0 21px 0;}

/* 국가상징배너 */
.kor_sym {position:absolute; top:62px; margin-left:50%; left:235px;}

/* [Head] > global_link */
.global_link {position:absolute; left:0; top:10px; width:145px;}
.global_link li {float:left; margin-right:8px; padding-right:8px; font-size:0; line-height:0; background:url(/images/front_eng/common/global_linkbrd.gif) right 0 no-repeat;}
.global_link li.last-child {margin-right:0; padding-right:0; background:none;}
.global_link li img {vertical-align:top;}
/* [Head] - function */
.function {position:absolute; left:0; top:0; background:black; width:100%; height:28px; padding-top:5px;}
/* [Head] - function > ft_size */

.function .unit {width:890px; margin:0 auto; position:relative;}
.function .ft_size {float:right; margin-right:345px;}
.function .ft_size button {width:21px; height:20px; float:left; margin:0; padding:0; border:none; cursor:pointer; background:url('/images/front_eng/common/sprite_header.gif') no-repeat;}
.function .ft_size .plus {background-position:0 0; }
.function .ft_size .minus {background-position:-21px 0;}
.function .ft_size .Font_Size  {width:62px; height:20px; float:left; display:block; background:url('/images/front_eng/common/sprite_header.gif') no-repeat -42px 0; vertical-align:top; margin-right:10px;}
/* [Head] - function > Print */
/*.print {float:left;}
.print img {vertical-align:top;}*/
/* [Head] - function > global_language */
.function .global_language {position:absolute; right:83px; top:0;}
.function .global_language li {float:left;}
.function .global_language li a{width:59px; height:20px; float:left; margin:0; padding:0; border:none; cursor:pointer; background:url('/images/front_eng/common/sprite_header.gif') no-repeat;}
.function .global_language li.mobile a {background-position:-112px 0;}
.function .global_language li.Korean a {background-position:-171px 0; }
.function .global_language li.sitemap a {background-position:-230px 0; width:63px;}
.function .global_language li.a-z a {background-position:-293px 0; width:73px;}
.mnsetup .btnsetup a.btnms {position:absolute; top:0; right:0; width:83px; height:20px; display:block; background:url('/images/front_eng/common/sprite_header.gif') no-repeat -366px 0; vertical-align:top;}
/* [Head] - function > search */
.function .search {position:absolute; top:54px; right:0;}
.function .search .input-text {width:372px; height:29px; padding:1px 10px; line-height:1.2; font-family:Dotum; vertical-align:top; color:#666; border:1px solid #C6C6C6; position:relative;}
.function .search .input-image {position:absolute; right:8px ; top:8px;}

/* [Head] > Gnb */
#gnbmenuwrap {position:absolute; top:100px;}
#gnbmenuwrap .gnbwrap {overflow:hidden; float:right;}
#gnbmenuwrap .gnbwrap li {display:inline; float:left; margin-left:32px;}
/* [Head] > my Menu */
.mnsetup {}
.mnsetup .mnsetup_cont {position:absolute; top:-2px; left:120px;}
.mnsetup .mnsetup_cont .list li {display:inline; float:left; margin:0 -11px 0 23px; padding-right:11px; background:url(/images/front_eng/main/musetup_listbrd.gif) right 1px no-repeat;}
.mnsetup .btnsetup {float:right;}
.mnsetup .msetup_layer {display:none; position:absolute; left:0; top:33px; width:100%; background:#ffffff; z-index:100;}
.mnsetup .msetup_layer h2 {position:relative; height:20px; padding:11px 0 0 20px; background:url(/images/front_eng/common/musetup_headbg.gif) left top no-repeat;}
.mnsetup .msetup_layer .cg_msg {position:absolute; left:70px; top:3px; font-size:0.92em; font-family:Verdana; color:#dc2d00;}
.mnsetup .msetup_layer .cg_contwrap {padding:10px 20px 20px; background:url(/images/front_eng/common/musetup_contentbg.gif) left bottom no-repeat;}
.mnsetup .msetup_layer .cg_cont {}
.mnsetup .msetup_layer .cg_cont .ms_category {overflow:hidden; width:100%; padding-bottom:15px; border-bottom:2px solid #cccccc; background:url(/images/front_eng/common/musetup_listbrd.gif) 0 6px no-repeat;}
.mnsetup .msetup_layer .cg_cont .ms_category li {float:left; width:255px; margin:4px 0; font-size:0.92em; line-height:1.2; font-family:Verdana;}
.mnsetup .msetup_layer .cg_cont .ms_category li lable {vertical-align:middle;}
.mnsetup .msetup_layer .cg_cont .ms_category li.last-child {width:330px;}
.mnsetup .msetup_layer .cg_contwrap .btn_msetup {position:relative; width:100%; margin-top:14px;}
.mnsetup .msetup_layer .cg_contwrap .btn_msetup .left {position:absolute; left:0; top:0;}
.mnsetup .msetup_layer .cg_contwrap .btn_msetup .center {text-align:center;}
.mnsetup .msetup_layer .cg_contwrap .btn_msetup .center .input-image {vertical-align:top;}
.mnsetup .msetup_layer .cg_contwrap .btn_msetup .right {position:absolute; right:0; top:0; margin-top:3px; font-size:0.92em; line-height:1.2; font-family:Verdana; color:#61646e;}
.mnsetup .msetup_layer .cg_contwrap .btn_msetup .right a {text-decoration:underline;}
.mnsetup .msetup_layer .cg_contwrap .btn_msetup img {vertical-align:top;}
.mnsetup .msetup_layer .btn-more {position:absolute; right:12px; top:10px;}
.mnsetup .msetup_layer .btn-more button {width:10px; height:10px; margin:0; padding:0; border:none; background:url(/images/front_eng/bullet/icon_close.gif) left top no-repeat;}

/* [Spot] */
#spot-sub {position:relative; top:-13px; width:890px; height:194px; margin:0 auto -13px; text-align:right;}

/* [Container] */
#container {width:890px; margin:0 auto;}
#subwrap {position:relative; top:-149px; display:inline-block; width:100%; margin-bottom:-122px;}

/* [Snb] */
#snb {float:left; width:195px;}
#snb h2 {height:29px; border-bottom:2px solid #17B04C; margin-bottom:19px;}
#snb>ul {padding-bottom:10px; margin-bottom:25px; border-bottom:1px solid #D2D2D2;}
#snb>ul>li {margin-bottom:10px; cursor:pointer;}
#snb>ul>li>ul { margin:10px 0; border-bottom:1px solid #D2D2D2; background-color:#f3f3f3; display:none;}
#snb>ul>li>ul>li { padding:8px 0; border-bottom:2px dotted #D2D2D2;}
.noline {border-bottom:0 !important; padding-bottom:0 !important; }

/* [Contents] */
#contents {float:left; width:669px; padding:0 0 30px 25px;}
/* [Contents] > 타이틀 및 경로 */
.mnvisual {position:relative; width:100%; padding-top:100px; border-bottom:1px solid #cccccc;}
.mnvisual h2 {height:50px;}
.mnvisual #location {position:absolute; left:0; top:20px; width:500px; font-family:Verdana; font-size:0.92em; line-height:1.27em;}
.mnvisual #location .here {font-weight:bold; color:#333333; text-decoration:underline;}
.mnvisual #location .lk_brd {padding:0 5px 0 6px; color:#a9a9a9;}
.mnvisual #location img {margin-top:3px; vertical-align:top;}

/* [Contents] > content-area */
.content-area {padding:25px 0 30px;}

/* [Footer] */
#footer {clear:both; margin-top:30px; width:100%;background:#EAEAEA;}
.foot {overflow:hidden; width:890px; margin:0 auto; padding:10px 0; }
/* [Footer] > 로고 */
#footer .flogo {float:left; padding:0 96px 0 15px;}
/* [Footer] > 정보 */
#footer .finfo {float:left;  width:390px; padding-top:14px; font-size:0; line-height:0;}
#footer .finfo address {font-family:Dotum; margin-bottom:7px;}
#footer .finfo .copyright {margin-top:2px; font-family:Dotum;}
#footer .visits {float:right; padding-top:10px;}
/* [Footer] > 사이트 */
#footer .ffamily {float:right;}
#footer .ffamily form {margin-bottom:5px;}
#footer .ffamily select {width:290px; height:18px; font-size:0.92em; vertical-align:middle}
#footer .ffamily .input-image {margin:0; padding:0; vertical-align:middle;}

/*  [Popup] - 프린트  */
#popheader {position:relative; height:34px; background:url(/images/front_eng/popup/print_headbg.gif) left top repeat-x; z-index:1;}
#popheader h1 {padding:7px 0 0 19px;}
#popheader .print_logo {position:absolute; right:20px; top:5px;}
#popcontainer {min-height:100%; margin:-34px 0 -79px;} * html #popcontainer {height:100%;}
#popcontainer #popcontents {padding: 34px 20px 85px;}
#popfooter {overflow:hidden; height:79px; padding:0 20px; text-align:center;}
#popfoot {padding-top:18px; border-top:1px solid #b8b8b8;}

/*  [Common]  */
/* [서식] - 요소 */
.select {height:20px; padding:1px; font-size:1em; font-family:gulim; vertical-align:middle;}
.input-text {height:15px; padding-top:3px; border:1px solid #d6d6d6; font-size:1em;}
.input-radio {width:13px; height:13px; margin:0; padding:0; border:none; vertical-align:middle;}
.input-check {width:13px; height:13px; margin:0; padding:0; border:none; vertical-align:middle;}
.input-image {margin:0; padding:0; border:none; vertical-align:middle;}
.input-file {height:22px; padding-top:2px; border:1px solid #b6b6b6; font-size:1em;; background:#f5f4eb;}
.textarea {border:1px solid #b6b6b6; font-size:1em;;}

h3.first  {
	clear:both;
	height:18px;
	margin:0 0 15px 0;
	padding:0 0 0 14px; 
	background: url('/images/front_eng/common/blt_h3.gif') no-repeat 0 1px;
}

/* //head title */

/* list type */
.content-area ul.under_p {margin:-15px 0 0 0;} /* none of style */
.content-area ul.under_p li {
	margin:0 0 2px 0;
	padding:0;
	background: none;
}

.content-area	ul	{margin:0 0 17px 0;} /* dot style */
.content-area	ul	li	{
	margin:8px 0 4px;
	padding:0 0 0 6px;
	background: url('/images/front_eng/common/blt_dot_blk.gif') no-repeat 0 7px;
}
.content-area	ul	li strong {display:block; margin-bottom:10px;}
.content-area	ul	li a {color:#0000cc; text-decoration:underline;}
.content-area	ul	li	ul	{margin:0 0 17px 0;} /* none of style under the dot style */
.content-area	ul	li	ul	li	{padding:0; background: none;}

.content-area	ol	{margin:0;} /* numbering style */
.content-area	ol	li	{margin:0 0 8px 0; padding-left:16px; font-size:0.92em; line-height:1.33em; text-indent:-16px;}
.content-area	ol	li	p	{margin:0 0 5px 0; font-weight:normal; font-size:1em; text-indent:0;} /* just description */
.content-area	ol	li	p.attend	{margin:0;}
.content-area	ol	li	p.notep {margin:5px 0 0; padding-left:15px; text-indent:-15px;}
.content-area	ol	li	ul	{margin:0;} /* dot style under the numbering style */
.content-area	ol	li	ul	li	{
	margin:1px 0 0 0;
	padding:0 0 0 10px;
	font-weight:normal;
	font-size:1em;
	text-indent:0;
	background: url('/images/front_eng/common/blt_dot_blk.gif') no-repeat 2px 7px;
}

.content-area	ol	li	ul.mtop20	li	{margin:15px 0 1px 0;} /* location */
.content-area	ol	li	ul.mtop20	li	li	{margin:2px 0 1px 0;}
.content-area ol li .help_list li {background:none;}

.content-area	ol	li	ul	li	{
	margin:2px 0 1px 0;
	padding:0 0 0 10px;
	font-weight:normal;
	background: url('/images/front_eng/common/blt_dot_blk.gif') no-repeat 2px 7px;
}
.content-area	ol	li	ul	li	ul	{}
.content-area	ol	li	ul	li	ul	li	{padding:0;background:none;}

.content-area ol li ul li ul.list_type1 li {padding-left:10px; color:#555; background:url(/images/front_eng/common/blt_dot_blk.gif) 2px 7px no-repeat;}
.content-area ol li ul li ul.list_type1 li ul li {color:#666; background:none;}

.content-area ul li table.data th,
.content-area ul li table.data td,
.content-area ol li table.data th,
.content-area ol li table.data td {font-weight:normal; text-indent:0;}

.content-area	p.link{
	background-image: url(/images/front_eng/common/icon_link.gif);
	background-repeat: no-repeat;
	background-position: 0px 3px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 15px;
}

ul.list {padding: 12px 6px 5px 9px;}
ul.list li {position: relative; padding-left:0;background:none;}
ul.list li strong{padding: 0 0 20px 12px;background:url('/images/front_eng/common/dot_og.gif') no-repeat left 5px; font-weight:bold; color:#FC3400;font-size: 1em;}
ul.list li p {padding: 7px 0 0; font-weight: normal;}
ul.list li ol {padding: 20px 0 0 12px;}
ul.list li ol li {padding: 0 0 6px 10px;background:none; list-style:decimal;padding-left:0;margin-left:20px;text-indent:0;}

.mgt20 {margin-top:20px;}

.text_bold { font-weight:bold; }















